body {
    background-color: rgb(220, 20, 184);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}
div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border: 2px solid;
}
span {
    width: 320px;
    text-align: center;
    font-size: 17px;
}